@import url('https://fonts.googleapis.com/css2?family=Abel&family=Maven+Pro&family=Satisfy&display=swap');
* {
    color: rgb(125, 0, 125);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}
body {
    background-image:url(../img/background-pink-style.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cabecalho {
    background-color: rgb(255, 255, 255, 0.300);
    text-align: center;
    padding: 15px;
}
.menu {
    background-color: rgba(250, 0, 200, 0.400);
    text-align: center;
    height: 20px;
    padding: 10px;
}
a {
    font-size: 18px;
    color: rgb(100, 0, 100);
    padding: 1.5%;
    text-decoration: none;
}
p {
    margin: 15px 10px 15px 10px;
    text-align: justify;
    text-indent: 25px;
}
h4 {
    padding: 20px;
    font-size: 150%;
    font-weight: 200;
    letter-spacing: 2px;;
}
h3 {
    margin: 10px 5px 10px 5px;
    font-size: 200%;
    font-weight: 100;
    letter-spacing: 2px;
    font-family: 'Satisfy', cursive;
}
.menu2 {
    background-color: rgba(250, 0, 200, 0.400);
    text-align: center;
    height: 40px;
}
h2{
    padding: 5px;
}
h1 {
    margin: 15px 10px 15px 10px;
    font-size: 180%;
    font-weight: 00;
    letter-spacing: 8px;
    font-family: 'Abel', sans-serif;
}
.secao1 {
    display: inline;
    float: inline-start;
    width: 50%;
    margin: 25px;
}
.secao2 img{
    display: inline;
    float: inline-end;
    border-radius: 100px 100px 100px 100px;
    margin: 15px;
}
.secao2 {
    width: auto;
}
footer {
    background-color: rgba(250, 0, 200, 0.400);
    text-align: center;
    height: 20px;
    padding: 10px;
}
.icon {
    width: 14px;
}
.icon-rotate {
    width: 14px;
    transform: scaleX(-1);
}
.botaoSup {
    background-color: rgba(250, 0, 200, 0.20);
    padding: 1px 5px;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255, 0.100);
}
.botaoSup:hover {
    color: rgba(130, 130, 130, 0.5);
    padding: 3px 7px;
    background-color: rgb(255, 255, 255, 0.250);
    border: solid 1px rgba(0, 0, 0, 0.050);
}
.botaoInf {
    background-color: rgba(250, 0, 200, 0.400);
    padding: 5px 20px;
    border-radius: 10px;
    border: solid 1px rgb(0, 0, 0, 0.050);
}
.botaoInf:hover {
    color: rgba(130, 130, 130, 0.5);
    padding: 7px 22px;
    background-color: rgba(255, 255, 255, 0.2500);
    border: solid 1px rgba(0, 0, 0, 0.050);
}
.typesproced {
    display: inline;
}
.textDescription {
    width: 100%;
    display: inline-block;
}
.botaoCont {
    padding: 5px 20px;
    border: solid 1px rgb(255, 255, 255, 0.100);
}
.botaoCont:hover {
    color: rgba(130, 130, 130, 0.5);
    padding: 7px 22px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.500);
}