@import url('https://fonts.googleapis.com/css2?family=Abel&family=Maven+Pro&display=swap');
* {
    color: rgb(125, 0, 125);
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}
body {
    background-image:url(../img/background-pink-style.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.cabecalho {
    background-color: rgb(255, 255, 255, 0.300);
    text-align: center;
    padding: 15px;
}
.menu {
    background-color: rgba(250, 0, 200, 0.500);
    text-align: center;
    height: 20px;
    padding: 10px;
}
a {
    font-size: 18px;
    color: rgb(100, 0, 100);
    padding: 1.5%;
    text-decoration: none;
}
p {
    margin: 15px 10px 15px 10px;
    text-align: justify;
    text-indent: 25px;
}
h3 {
    margin: 15px 10px 15px 10px;
    font-size: 125%;
}
.menu2 {
    background-color: rgba(250, 0, 200, 0.500);
    text-align: center;
    height: 40px;
}
h2{
    padding: 5px;
}
h1 {
    margin: 15px 10px 15px 10px;
    letter-spacing: 10px;
    font-family:monospace;
    font-family: 'Abel', sans-serif;
}
.secao1 {
    float: left;
    width: 50%;
}
.secao2 img{
    border-radius: 100px 100px 100px 100px;
    border-color: rgb(125, 0, 125, 0.050);
    border-style: ridge;
    margin: 15px 10px 15px 10px;
}
.secao2 {
    width: auto;
}
footer {
    background-color: rgba(250, 0, 200, 0.500);
    text-align: center;
    height: 20px;
    padding: 10px;
}
.icon {
    width: 14px;
}
.icon-rotate {
    width: 14px;
    transform: scaleX(-1);
}
.botaoSup {
    background-color: rgba(250, 0, 200, 0.250);
    padding: 5px 20px;
    border-radius: 10px;
    border: solid 1px rgb(255, 255, 255, 0.100);
}
.botaoSup:hover {
    color: rgba(0, 0, 0, 0.5);
    background-color: rgb(255, 255, 255, 0.250);
    border: solid 1px rgba(0, 0, 0, 0.050);
}
.botaoInf {
    background-color: rgba(250, 0, 200, 0.200);
    padding: 5px 15px;
    border-radius: 10px;
    border: solid 1px rgb(0, 0, 0, 0.050);
}
.botaoInf:hover {
    color: rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 0.100);
    border: solid 1px rgba(0, 0, 0, 0.050);
}
.iconPro {
    width: 50px;
}
.imgPro {
    width: 20%;
    border-radius: 100px;
    padding: 10px 10px 20px 10px;
}